package components

import (
  library "waldi-v2/components/library"
)

templ LocationForm(address string) {
<form hx-post="api/submitlocation" hx-target="this" hx-swap="outerHTML" class="hstack gap1">
<div class="w100 relative inlineblock">
  @library.Input("text","address",address,"Address")
  <div class="absolute front" style="right: 5px; top: 50%; transform: translateY(-50%);">
    @library.Button2("My Location","")
  </div>
</div>
  @library.Button("Search","submit")
</form>
}