package components

templ Navbar() {
  <div class="bg">
<nav class="container-s hstack gap05 align-center justify-between w100">
  <div>
    @Link("",WaldiLogo())
    <a href=""></a>
  </div>
  <div class="hstack gap1">
    @Link("",StringToComponent("About"))
    @Link("",StringToComponent("Settings"))
  </div>
</nav>
</div>
}

templ WaldiLogo() {
  <h1>Waldi</h1>
}