package components

import (
  library "waldi-v2/components/library"
)

templ Navbar() {
<div class="bg2">
  <nav class="container-s hstack gap05 align-center justify-between w100">
    <div>
      @library.Link("/",WaldiLogo())
      <a href=""></a>
    </div>
    <div class="hstack gap1">
      @library.Link("",StringToComponent("About"))
      @library.Link("",StringToComponent("Settings"))
    </div>
  </nav>
</div>
}

templ WaldiLogo() {
<h1>Waldi</h1>
}