@import url("./layout.css");
@import url("./interactable.css");
@import url("./styles.css");

:root {
  --blue:#023373;
  --darkblue:#011C40;
  --khaki:#8C8977;
  --yellow:#F2B705;
  --white:#F2F2F2;
  --white2:rgb(254, 252, 252);
}

html {
  background-color:var(--white);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: var(--darkblue);
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin:0;
  padding:0;
}