.hstack {
  display: flex;
  flex-direction: row;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inlineblock {
  display: inline-block;
}

.w100 {
  width: 100%;
}
.container-s {
  width: min(95%, 64rem);
  margin: 0 auto;
  padding:0.25rem;
}

.gap05 {
  gap: 0.5rem;
}

.gap1 {
  gap: 1rem;
}

.pad05 {
  padding: 0.5rem;
}

.pad025 {
  padding: 0.25rem;
}

.front {
  z-index: 1;
}