.hstack {
  display: flex;
  flex-direction: row;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inlineblock {
  display: inline-block;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w50or100 {
  width: 50%;
}

.container-s {
  width: min(95%, 48rem);
  margin: 0 auto;
}

.gap05 {
  gap: 0.5rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.pad05 {
  padding: 0.5rem;
}

.pad025 {
  padding: 0.25rem;
}

.front {
  z-index: 1;
}

.vpadl {
  padding: 4rem 0 4rem 0;
}

@media (max-width: 30rem) {
  .w50or100 {
    width: 100%;
  }
}
