.b {
  border: 1px var(--blue) solid;
}

.brad {
  border-radius: 4px;
}

.input {
  font-size: 1rem;
  color: var(--darkblue);
  width: 100%;
  height: 2rem;
  border: 1px var(--blue) solid;
  border-radius: 4px;
  padding: 0 0 0 4px;
  margin: 0;
  background-color: var(--white2);
  transition: outline 0.05s ease-in-out;
}

.input:focus {
  outline: 2px solid var(--yellow);
}

.button {
  background-color: var(--darkblue);
  border-radius: 4px;
  border: 1px var(--blue) solid;
  height: 2rem + 2px;
  font-size: 1rem;
  color: var(--white2);
  transition: border 0.05s ease-in-out;
}

.button:focus {
  outline: 2px solid var(--yellow);
}

.button:hover {
  border-color: var(--yellow);
  cursor: pointer;
}

.button2 {
  background-color: transparent;
  height: 2rem + 2px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: inherit;
  transition: background-color 0.05s ease-in-out;
}

.button2:focus {
  outline: 2px solid var(--yellow);
}

.button2:hover {
  background-color: var(--white);
  cursor: pointer;
}

.bg2 {
  background-color: var(--white2);
}
