package components

templ Index(page templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Waldi : Walking Distance</title>
      <link rel="stylesheet" href="/static/styles/index.css">
			<script src="/static/scripts/index.js"></script>
		</head>
		<body>
    <main>
      @page
    </main>
    </body>
	</html>
}