@view-transition {
  navigation: auto;
}

@keyframes stretch {
  from {
    opacity: 0;
    transform: scaleY(0.8) translateY(10%);
  }
}

::view-transition-new(modal-container) {
  animation: stretch 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: center bottom;
}
