.hstack {
  display: flex;
  flex-direction: row;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inlineblock {
  display: inline-block;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.h100 {
  height: 100%;
}

.inset {
  inset: 0;
}

.wcontent {
  width: fit-content;
}

.w50or100 {
  width: 50%;
}

.container-s {
  width: min(95%, 48rem);
  margin: 0 auto;
}

.gap05 {
  gap: 0.5rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.pad025 {
  padding: 0.25rem;
}

.pad05 {
  padding: 0.5rem;
}

.pad1 {
  padding: 1rem;
}

.vpad025 {
  padding:0.25rem 0 0.25rem 0;
}

.vpad3 {
  padding: 3rem 0 3rem 0;
}

.marg05 {
  margin:0.5rem;
}

.front {
  z-index: 1;
}

@media (max-width: 30rem) {
  .w50or100 {
    width: 100%;
  }
}
