.b {
  border: 1px var(--darkblue) solid;
}

.brad {
  border-radius: 4px;
}

.input {
  font-size: 1rem;
  color: var(--darkblue);
  width: 100%;
  height: 2rem;
  border: 1px var(--blue) solid;
  border-radius: 4px;
  padding: 0 0 0 4px;
  margin: 0;
  background-color: var(--white2);
  transition: outline 0.05s ease-in-out;
}

.input:focus {
  outline: 2px solid var(--yellow);
}

.button {
  background-color: var(--darkblue);
  border-radius: 4px;
  border: 1px var(--blue) solid;
  height: calc(2rem);
  font-size: 1rem;
  color: var(--white2);
  transition: border 0.05s ease-in-out;
  padding: 0 16px 0 16px;
}

.button:focus {
  outline: 2px solid var(--blue);
}

.button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.button2 {
  background-color: var(--white2);
  height: calc(2rem);
  border: 1px var(--blue) solid;
  border-radius: 4px;
  font-size: 1rem;
  color: inherit;
  transition: background-color 0.05s ease-in-out;
  padding: 0 16px 0 16px;
}

.button2:focus {
  outline: 2px solid var(--blue);
}

.button2:hover {
  background-color: var(--white);
  cursor: pointer;
}

.bg2 {
  background-color: var(--white2);
}

.bg3 {
  background-color: var(--yellow);
}

.svg {
  width: 1.5rem;
}

.map {
  width: 100%;
  height: 32rem;
  border-radius: 4px;
  border: 1px var(--darkblue) solid;
}

.mapembedded {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px var(--darkblue) solid;
  flex-grow: 1;
}

.hoverable:hover {
  background-color: var(--white);
  cursor: pointer;
}

.modal-container {
  width: min(95%, 512px);
  height: 95%;
  border: none;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  view-transition-name: modal-container;
}

.modal-container::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

